.appbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
  
   flex: 1;

   width: 100%;

background-color: whitesmoke;
   position: absolute;

   }
   .app_left{
   display: flex;
   align-items: center;
   justify-content: baseline;
   margin: 10px;
   flex: 1;
   
   }
   .app_leftsearch{
   align-items: center;
   
   
   }
   
   .app_leftname{
   
   display: flex;
   padding: 10px;
   
   }
   .app_right{
   display: flex;
   padding: 5px;
   align-items: center;
   flex: 1;
   justify-content: space-between;
   
   }
   @media(max-width:700px){
   
   .active_link>.MuiSvgIcon-root{
   color: #2196f3;
   
   }
   .toolbar{
   background-color: #2196f3;
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 170px;
   }
   .child>p{
    font-size: 20px;
    color: #333;
      }
      .child>a{
         font-size: 20px;
         color: white;
       text-decoration: none;
           }
      .child>.MuiSvgIcon-root{
         font-size: 26px;
         color: white;
         margin-top: 20px;
   
           }
   .active_link>p{
    
      
      color: #2196f3;
   
   
      }
   .app_right{
   display: flex;
   padding: 5px;
   align-items: center;
   flex: 1;
   justify-content: space-between;
   margin-top: 70px;
  
   overflow-y: hidden;
 
   }
   .app_right::-webkit-scrollbar {
      background-color: whitesmoke;
      scroll-behavior: smooth;
     display: none;
      
      
      }
   
   .appbar{
   display: block;

   


   width: 100%;
   z-index: 100;
   left: 0;
   right: 0;
   
   }
   
   }
   .app_left{
   display: flex;
   align-items: center;
   justify-content: baseline;
   margin: 6px;
   flex: 1;
   
   }
   .app_leftname>h2{
   font-family: 'opensans-bold';
   font-weight:300 ;
   color: khaki;
   font-style: italic;
   }
   .app_leftsearch>.MuiSvgIcon-root{
   
   color: gray;
   
   }
   .app_leftsearch{
   
   display: flex;
   align-items: center;
   background: #eff2f5;
   padding: 8px;
   
   border-radius: 33px;
   
   
   }
   .app_leftsearch>input{
   border: none;
   background-color: transparent;
   outline-width: 0;
   }
   .app_right>.MuiIconButton-root{
   font-size: 2px;
   color: rgb(41, 22, 22);
   display: flex;
   justify-content: center;
   flex-direction: row;
   }
   .search{
  
   color:black;
   border-radius: 50%;
   
   
   
   }
   .btnSearch{
display: flex;
align-items: center;
margin: 10px;
border-radius: 30px;
background-color: rgba(243, 239, 239, 0.884);
padding: 5px;
   }
   /* .btnSearch>.MuiSvgIcon-root{
   
         } */
   .btnSearch>input{
     border-radius: 30px;
     display: flex;
     outline-width: 0;
     background-color: rgba(243, 239, 239, 0.884);
     border: none;
     align-items: center;
   height:30px;
   width:100%;
         }
   .topsearch{
   background-color: white;
      display: flex;
   align-items: center;

   z-index: 100;
  width: 100%;
 justify-content:space-evenly;
   margin-bottom: -39px;
   position: fixed;
   }
   .topsearch>img{
height:40px;
width:40px;
object-fit:contain;
border-radius:50px;
background-color:#2196f3;
padding: 5px
   }
   
   .topsearch>p{
       font-weight: bolder;
    font-size: 25px;
     font-family: 'Commissioner', sans-serif;
     font-family: 'Quicksand', sans-serif;
        font-weight: bold;
         color: #2196f3;
        margin: 6px;
     }
   
   .avatar{
   background-color: #2196f3;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 150px;
   flex-direction: column;
   color: whitesmoke;
   }
   
   .menutext{
   
   font-family: 'Commissioner', sans-serif;
   font-family: 'Quicksand', sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   
   
   }
   
   
   
   
   .iconName{
   
   cursor: pointer;
   margin-bottom:-4px;
   font-size: 14px;
   margin-top: -10px;
   display: flex;
   
   flex-direction: column;
   
   
   
   }
   
   .notificationic{
   width: 30px;
   height: 30px;
   
   }
   .username{
   font-family: 'Commissioner', sans-serif;
   font-family: 'Quicksand', sans-serif;
   font-weight: 600;
   
   
   }
   .app_leftname>h5{
   
   font-family: 'Quicksand', sans-serif;
   font-weight: 600;
   
   font-size: 30px;
   
   }
   .iconName>a>p{
   font-size: 14px;
   font-family: 'Commissioner', sans-serif;
   font-family: 'Quicksand', sans-serif;
   font-weight: 600;
   margin-bottom: -1px;
   
   }
   
   
   .iconName>a{
   text-decoration: none;
   color: gray;
   padding: 10px;
   width: 30px;
   height: 30px;
   border-radius:50%;
   background-color: lightgray;
   }
   
   
   .iconName>.MuiSvgIcon-root{
     color: red;
   background-color: white;
      }
   
   