.card__header{
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    }
    .card__headerleft{
    display: flex;
    align-items: center;
    margin: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    }
    .card__headerleft>.MuiSvgIcon-root{
    color:  #2196f3;
    font-size: 18px;
    
    
    }
    .card__footericonsconten{
display: flex;
align-items: center;
justify-content: right;
margin-top: 12px;
margin-left: 1500%;
    }
    .card__headerleft>a{
    text-decoration: none;
    font-size:12px;
    width:100px;
    }
    .card__headerleft>h3{
        font-weight: 900;
        font-family: 'Commissioner', sans-serif;
        font-family: 'Indie Flower', cursive;
        font-family: 'Quicksand', sans-serif;
        justify-content: baseline;
        text-decoration: none;
        color:teal;
        overflow:hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow:ellipsis;
        -webkit-box-orient: vertical;
        white-space: wrap;
        align-items: flex-start;
        display: flex;
        flex: 1;text-align: left;
        margin: 6px;
        width: 120px;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select:none;
        
        }
        
    .card__headerleft>a>h3{
    font-weight: 900;
    font-family: 'Commissioner', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Quicksand', sans-serif;
    justify-content: baseline;
    text-decoration: none;
    color:teal;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    white-space: wrap;
    align-items: flex-start;
    display: flex;
    flex: 1;text-align: left;
    margin: 6px;
    width: 180px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    
    }
    
    
    .card__headerright{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    display: flex;
    
    align-items: center;
    
    
    
    }
    .card__headerright>p{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: baseline;
    color: rgb(233, 174, 65);
    font-size: 13px;
    align-items: flex-start;
    display: flex;
    flex: 1;text-align: left;
    margin: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    }
    .card__headerright>img{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    
    
    
    }
    .card{
    width: 100%;
    z-index: 10;
    margin: 0;
    }
    .cardmain{
      
    margin: 10px;
  
    border: 0px solid black;
    border-radius: 4px;
    overflow: hidden;
    /* box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75); */
    cursor: pointer;
    transition:transform 100ms ease-in;
    z-index: 10;
    background-color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    }
    
    .cardmain:hover{
    /* transform: scale(1.04); */
    
    
    }
    mark {
    background:none;
    color:green;
    cursor:pointer;
    }
    
    .cardmain{
    margin-top: 7px;
    /* width: 350px; */
    
    z-index: 100;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    }
    .imgfoot{
display: flex;
align-items: center;
justify-content:space-between;

padding: 4px;
border-radius: 6px;
    }
   .imgfoot>img {
height:30px;
width:30px;
border-left: 1px solid grey;
border-radius :50%;
   } 
   .card__rank>h4{
      font-size :12px;
     color:#2196f3;
   }
   .imgfoot>h4{
       margin-top:-690px;
       border-radius: px;
       position: absolute;
   
background-color:rgba(220, 20, 60, 0.295);
    padding:3px;
    color:white;
       } 
    .visible{
display: flex;
align-items: center;
justify-content:space-around;
color:gray;
border-radius:30px;


margin:10px;
    }
.card__rank{
display: flex;
align-items: center;
margin:5px;

}
.card__rank>p{
    display: flex;
    align-items: center;
    margin:5px;
    color:tomato;
    }
    .card__rank>h6{
        display: flex;
        align-items: center;
        margin:10px;
        color:#2196f3;
        font-size: 16px;
        }
    .visible>p{
        display: flex;
        align-items: center;
        justify-content:space-around;
        color:gray;
        margin:3px;
            }
            .visible>.MuiSvgIcon-root{
                display: flex;
                font-size: 16px;
                align-items: center;
                justify-content:space-around;
                color:tomato;
                margin-top:6px;
                    }
    .card__image>img{
    height: 200px;
    object-fit: fill;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    
    }
    .card__image>video{
        height: 200px;
        object-fit: contain;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        }
    .card__content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: start;
    border: 1px solid lightgray;
    border-radius: 5px;
    
    
    }
     
    .card__contenttitle>h4{
        font-weight: 800;
   position: absolute;
        margin-top: -10px;
        
        color: white;
        background-color:#2196f3;
    text-align: left;
        padding: 2px;
        border-radius: 2px;
       width:auto;
     margin-right: 10px; 
       margin-left: 10px; 
     margin-bottom: 10px; 
        font-family: 'Commissioner', sans-serif;
        font-size: 15px;
     
        }
    .card__contenttitle>h5{
    font-weight: 800;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    white-space: wrap;
    margin: 10px;
    color: rgb(56, 52, 52);
    text-align: left;
    font-family: 'Commissioner', sans-serif;
    font-size: 15px;
    overflow-wrap: anywhere;
    }
    .api{
display: flex;
  align-items: center  ;
  justify-content:space-between;
  margin: 10px
  ;
  background-color:rgba(250, 244, 244, 0.733);
overflow-x: scroll;

    }
    .apis{
       color:black ;
        background-color:white;
            }
    .card__contentdescription p{
    font-family: 'Commissioner', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    white-space: wrap;
    justify-content: baseline;
    color:#333;
    font-size: 15px;
    overflow-wrap: anywhere;
    flex-wrap: wrap;
    align-items: flex-start;
    
    flex: 1;text-align: left;
    margin: 10px;
    
    
    }
    .card__contentdescription >h6{
        font-family: 'Commissioner', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        overflow:hidden;
        display: -webkit-box;
      
        text-overflow:ellipsis;
        -webkit-box-orient: vertical;
        white-space: wrap;
        justify-content: baseline;
        color:#333;
        font-size: 15px;
        overflow-wrap: anywhere;
        flex-wrap: wrap;
        align-items: flex-start;
        
        flex: 1;text-align: left;
        margin: 10px;
    
    }
    .card__contentdescription >h5{
    font-family: 'Commissioner', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    
    justify-content: baseline;
    color:#2196f3;
    font-size: 15px;
    
    align-items: flex-start;
    
    flex: 1;text-align: left;
    margin: 10px;
    
    
    }
    .card__footer{
    margin-bottom: -10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    
    flex: 1;
    margin-bottom: -7px;
    }
    
    
    
    .card__footericonscontent{
    background-color: rgb(237, 243, 247);
    display: flex;
    align-items: center;
    width: 80px;
    font-size: 14px;
    color: gray;
    border-radius: 30px;
    flex: 1;
    
    height: 30px;
    
    margin-bottom: -7px;
    justify-content: center;
    }
    
    .card__footericonscontent>.MuiSvgIcon-root{
    margin: 10px;
    font-size: 16px;
    height: 20px;
    color: gray;
    justify-content: space-between;
    align-items: center;
    
    }
    
    
    .card__footericons{
    
    display: flex;
    
    flex: 1;
    align-items: center;
    margin: 10px;
    
    }
    .card__footericons>.MuiSvgIcon-root{
    background-color: whitesmoke;
    display: flex;
    flex: 1;
    align-items: center;
    margin: 10px;
    font-size: 16px;
    color: gray;
    border-radius: 10px;
    height: 20px;
    }
    .card__footericonscontent>p{
    color: #2196f3;  
    margin-right: 10px;
    }
    .follow{
    
    float: left;
    margin: 10px;
    font-size: 15px;
    color:rgb(233, 174, 65);  
    font-family: 'Commissioner', sans-serif;
    
    font-weight: 900;
    
    }
    .footline{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
    
    }
    .card__footericonscontent3{
    
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    
    }
    
    .foot{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
    .foot>.MuiSvgIcon-root{
    font-size: 16px;
    color: thistle;
    }
    .slider{
    
    background-color: #2d383c;
    
    }
    .drawer{
    
    
    border-top-left-radius: 100px;
    border-top-right-radius: 10px;
    
    }
    .icons{
    background-color: #171f24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    .socialIcon{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    outline-width: 0;
    border: none;
    border-radius: 50%;
    }
    .pehjos{
    color: white;
    font-size: 14px;
    
    }
    .sharebtn{
    outline-width: 0;
    border: none;
    text-decoration: none;
    background-color: transparent;
    }
    .favcolor>.MuiSvgIcon-root{
    background-color: brown;
    
    }
    
    .close{
    z-index: 190;
    font-size: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #2196f3;
    background-color: white;
    margin-top: 10px;
    border-radius: 50%;
    
    }
    
    /* card description */
    .card__contentdescription>.MuiSvgIcon-root{
    font-size: 30px;
    color:  #2196f3;
    background-color: lightgray;
    border-radius: 50%;
    
    }
    
    .overRallCard{
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    
    
    }
    .icons__child{
    display: flex;
    align-items: center;
    
    
    }
    .icons__child>.MuiSvgIcon-root{
    color: gray;
    margin: 10px;    
    
    }
    .icons__child>p{
    color: gray;
    margin: 10px;    
    font-size: 18px;     
    }
    .andothers>p{
    color: rgb(219, 57, 57);
    }
    .card__headerleftfoot{
        display: flex;
        align-items: center;
        margin: 10px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select:none;
        }
        .card__headerright>.MuiSvgIcon-root{
margin: 10px;
color: grey;
        }
        .card__headerleftfoot>p{
            font-weight: 600;
           
           
          
            justify-content: baseline;
            text-decoration: none;
            color:orangered;
            font-size: 15px;
            font-style: italic;
            overflow:hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow:ellipsis;
            -webkit-box-orient: vertical;
            white-space: wrap;
            align-items: flex-start;
            display: flex;
            flex: 1;text-align: left;
            margin: 6px;
           
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select:none;
            }
        .card__headerleftfoot>.MuiSvgIcon-root{
        color:  #2196f3;
        font-size: 18px;
        margin:5px;
        
        }
        .card__image>.MuiSvgIcon-root{

display:flex;
align-items: center;
justify-content:center;
margin-top: -125px;
position:absolute;
margin-left: 42%;
color: white;
font-size: 60px;
        }
        .visible{
font-size: 13px;
            display:flex;
            align-items: center;
        }
        .card__rank>p{

color: #2196f3;
        }
        .visible>.MuiSvgIcon-root{
            font-size: 23px;
            color: #2196f3;
                        display:flex;
                        align-items: center;
                    }
                    .card__rank>p{
            
            color: #2196f3;
                    }